@import "tailwindcss";
@font-face {
    font-family: 'Poppins';
    src: url('public/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Sacramento';
    src: url('public/Sacramento/Sacramento-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Applying to Tailwind */
  .font-poppins {
   
   font-family: 'Poppins', sans-serif;
  }
  
  .font-sacramento { 
   font-family: 'Sacramento', cursive;
  }

  